<div class="card card-inner ">
    <div class="card-body ">
        <div class="row">
            
                <div class="col-md-8">
                    <img src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=753&q=80" class="image">        
                </div>
                
                <div class="col-md-4 pass">
                    <form>
                        <h1>Welcome back!</h1><br>
                        <p>Please login to your account</p>
                    <div class="log">
                        <label for="examplename" class="form-label">Username</label>
                        <input type="text" class="form-control" id="examplename" placeholder="Username"> 
                      </div>
                     
                      <div class=" log">
                        <label for="examplepassword" class="form-label">Password</label>
                        <input type="text" class="form-control" id="examplepassword" placeholder="Password"> 
                      </div>
                      
                      <div class="checkbox">
                       <input type="checkbox" class="form-check-input" id="exampleCheck1">
                         <label class="form-check-label" for="exampleCheck1">Remember me</label>
                     </div>
                     <div class="pass1">
                         <p>Forgot Password</p>
                     </div>
                     
                    <button type="submit" class="btn btn-primary">Login</button>
                
                    <div class="terms">
                        Terms Of Use Privacy Policy
                    </div>
                  </form>
                    </div>
            
        </div>
    </div>
</div>
